.card {
	display: flex;
	flex-direction: column;
	/* background-color: #181717; */
	padding: 20px 8px 20px 8px;
	border: 1px solid #fff;
	border-radius: 4px;
}
.name {
	color: #fff;
	font-family: "Roboto",sans-serif;
	padding-top: 8px;
	border-bottom: 1px solid #fff;
}
.image {
	object-fit: cover;
}
.released{
	color: #fff;
	font-family: "Roboto",sans-serif;
	
}
.metacriticRating {
	color: #fff;
	font-family: "Nunito", sans-serif;
}
.platforms {
	color: #fff;
	display: flex;
	font-size: 17px;
	font-family: "Nunito", sans-serif;
}
.platform {
	padding-top: 3px;
	display: flex;
	justify-content: space-evenly;
	width: 50%;
}
.esrb {
	color: #fff;
    display: flex;
    	font-family: "Nunito", sans-serif;
}
.esrb span{
    padding-left: 10px;
}
.playtime{
	color: #fff;
	display: flex;
	font-size: 17px;
	font-family: "Nunito", sans-serif;
}
.playtime span{
	padding-left: 10px;
}
