.card {
	background-color: #2a2b32;
	border: 10px solid;
	border-image-slice: 1;
	border-width: 5px;
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
}
.link{
	text-decoration: none;
	color: #fff;
}
.card i {
	margin-top: 4px;
	margin-right: 10px;
}
